:root {
    --background_color_base: #1C1C1C;
    --background_color_brown: #2A2523;
    --background_color_hover: rgb(241, 217, 207);

    --text_color_one: #FFFFFF;
    --text_color_two: #7F5847;

    --highlight_color: #7F5847;
    --border_color: rgb(58, 52, 50);
}

body, html {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: var(--background_color_base);
    font-family: 'Open Sans', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}
.wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background_color_brown);
    min-height: 20rem;
}

.inner {
    width: 100%;
    max-width: 72.25rem;
    margin: 0 auto;
    height: inherit;
}

.inner_padding {
    padding: 2rem 0;
}

.header {
    min-height: 3.125rem;
    height: 6.25rem;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner  {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;
    height: inherit;
}

.logo {
    font-size: 2rem;
    font-weight: 300;
    color: var(--text_color_one);
    margin-left: 1rem;
}

.logo span {
    font-weight: 700;
    color: var(--text_color_two);
}

.page_menu a {
    color: var(--text_color_one);
    font-weight: 500;
    font-size: 0.95rem;
    padding: 0.625rem;
    margin: 0.9375rem;
}

.page_menu a.active, .page_menu a:hover {
    background: var(--highlight_color);
    color: var(--background_color_hover);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}



.sections_categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.875rem 1.875rem;
}

.sections_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1.875rem;
}

a.button_one {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background: var(--highlight_color);
    color: var(--background_color_hover);
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.625rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.sections_text {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text_color_one);
}

.tour_categories > div {
    position: relative;
} 

.diningTable {
    grid-column: 1 / span 3;
    margin: 0rem 2rem 1rem 2rem; 
}

